@charset "UTF-8";

:root {
	--niconico-classic-square-icon-border-rasius: 4px;
}

body.niconico-classic_icon-is-square {
	.nico-CommonHeaderRoot .common-header-1hpqfmt,
	.nico-CommonHeaderRoot .common-header-ws8uen,
	.nico-CommonHeaderRoot .common-header-1h5huqo {
		border-radius: var(--niconico-classic-square-icon-border-rasius) !important;
	}
}

#niconico-classic_hidariue {
	width: 48px; height: 48px; display: block; margin-left: 12px;
	img { width: 100%; height: 100%; }
}