* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
	outline: none;
}

body { width: 480px; font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, "ＭＳ ゴシック", "MS Gothic", Helvetica, Arial, Roboto, sans-serif; font-size: 12px; font-feature-settings: "palt"; line-height: 1.5; color: #252525; }
ul, ol { padding: 0; list-style: none; }
a { color: #000099; text-decoration: underline; }
a:hover { text-decoration: none; }
button { background: none; cursor: pointer; }

header {
	padding: 16px; background: #252525; display: flex; align-items: center; gap: 8px; color: #FFFFFF;
	
	h1 {
		margin-bottom: 4px; display: flex; align-items: center; gap: 4px;
		img { vertical-align: top; }
		.icon { height: 32px; }
		.logo { height: 24px; }
	}
}

#category-list {
	border-bottom: 1px solid #CCCCCC; display: flex; flex-wrap: wrap; font-size: 16px;
	button { padding: 8px 16px 4px; border-bottom: 4px solid #999999; font-weight: bold; }
	button.is-current-selection { border-color: #197FE6; }
}

#panels {
	height: 256px; background: #EEEEEE; overflow-y: auto;
	/* .panel { padding: 16px; display: none; }
	.panel.is-current-selection { display: block; } */
	
	.panel {
		margin: 16px;
		h2 { margin-bottom: 8px; padding-bottom: 2px; border-bottom: 2px solid #252525; font-weight: bold; }
	}

	.property {
		display: flex; justify-content: space-between; align-items: center;
		+ .property { margin-top: 8px; }
		select { padding: 4px 8px; border: 1px solid #CCCCCC; background: #FFFFFF; border-radius: 8px; }
	}
}

#attention { padding: 12px 16px; background: #FFDDDD; text-align: center; color: #CC0000; }

footer {
	padding: 16px; border-top: 1px solid #CCCCCC; display: flex; justify-content: space-between;
	ul { display: flex; justify-content: center; gap: 8px; }
}