@charset "UTF-8";

/* 動画共通 */
.simplebar-wrapper { container: niconicoClassicVideoSimplebar / inline-size; }

.niconico-classic_video-simplebar-link {
	padding: 12px 16px; border-radius: 4px; display: flex; align-items: center; gap: 4px;
	&:hover { background: #F2F2F2; }
	svg { height: 24px !important; fill: #1A1A1A; }
}

main > nav:has(+ [aria-label="nicovideo-content"]) .niconico-classic_video-simplebar-link,
body[data-niconico-classic="video-watch"] .niconico-classic_video-simplebar-link {
	&:hover { background: var(--colors-layer-surface-medium-em) !important; }
	svg { height: 24px !important; fill: var(--colors-text-on-layer-high-em) !important; }
}

.niconico-classic_common-header-menu-link {
	height: 40px; padding: 0 12px !important; background: #FFFFFF; display: flex; align-items: center; gap: 12px; text-decoration: none;
	&:hover { background: #F5F5F5 !important; }
	span { font-family: sans-serif; font-size: 12px; font-weight: bold; line-height: 1.2; color: #333333; }
	svg { width: 9px !important; height: 9px !important; fill: #999999; }
}

@container niconicoClassicVideoSimplebar (width < 128px) {
	.niconico-classic_video-simplebar-link { padding-inline: 0; flex-direction: column; }
	.niconico-classic_video-simplebar-link > span { display: flex; flex-direction: column; font-size: 10px; }
}

/* 動画ランキングページ */
body[data-niconico-classic^="video-ranking"] {
	&.niconico-classic_video-ranking-align-is-center {
		[aria-label="nicovideo-content"] > section { margin: auto; }
	}

	&.niconico-classic_video-ranking-thumbnail-size-is-medium {
		.w_100\% :is([data-anchor-page="ranking_genre"], [data-decoration-video-id]) .asp_16\:9, .w_thumbnail\.l, .max-w_thumbnail\.2xl { width: 192px; min-width: 0 !important; }
		.grid-tc_repeat\(5\,1fr\) { grid-template-columns: repeat(5, 216px); }
		.grid-tc_repeat\(5\,1fr\) > div { display: flex !important; }
		.grid-tc_\{sizes\.x5\}_1fr_1fr_1fr_1fr_1fr { grid-template-columns: 40px 216px 216px 216px 216px 216px; justify-content: center; }
	}
}

/* 動画視聴ページ */
body[data-niconico-classic="video-watch"] {
	[aria-label="nicovideo-content"] {
		padding-top: 24px;
		
		> .d_grid {
			grid-template-areas: "bottom bottom" "player sidebar" ". sidebar";
			row-gap: 16px;
			--niconico-classic-video-player-height: calc(var(--watch-player-height) + var(--watch-actionbar-height) + var(--watch-player-actionbar-gap-height));
			--watch-player-max-width: 1920px !important;
		}
	}

	/* ヘッダー */
	.grid-area_\[bottom\] {
		/* タイトル */
		> .jc_space-between { flex-wrap: wrap; row-gap: 16px; }
		div:has(> h1.fs_xl) { width: calc(100% - 464px); }
		h1.fs_xl { font-size: 200%; }
		
		/* 投稿者情報 */ 
		.w_\[var\(--watch-owner-information-width\)\] {
			width: 440px;
			[data-scope="avatar"] { width: 56px; height: 56px; }
		}
		
		.grid-template-areas_\[_\"icon_title\"_\"\._data\"_\] {
			align-items: baseline; gap: 4px 8px;
			&:not(:has(:is(a[href*="agreement"], a[href*="achievement"]))) { grid-template-areas: "icon title data"; grid-template-columns: max-content max-content auto; }
			.grid-area_icon { align-self: flex-start; }
			.grid-area_title { line-height: 24px; }
			a[href*="agreement"] { margin: 0; }
			.d_flex:has(> .d_flex > a[href*="achievement"]) { gap: 4px; }
		}

		dl + .d_flex:has(> .grid-template-areas_\[_\"icon_title\"_\"\._data\"_\]) { gap: 16px; }

		.niconico-classic_video-details-additional-link {
			display: flex; gap: 8px; font-weight: bold; line-height: 24px;
			svg { width: 24px; fill: var(--colors-icon-video-description); }
			&.pedia svg { background: var(--colors-icon-video-description); fill: #FFFFFF; border-radius: 50%; }
			span { font-size: var(--font-sizes-s); color: var(--colors-text-on-layer-lower-em); }
			a { color: var(--colors-text-on-layer-accent-azure); }
		}

		> section > .d_flex > div:has([data-scope="avatar"]) {
			align-items: center; gap: 16px;
			
			> .d_flex {
				padding: 0; line-height: 40px; flex-direction: row; flex-grow: 0; overflow: hidden; white-space: nowrap;
				.gap_x4 { gap: 16px; }
				.d_flex:has(> a[href*="ch.nicovideo.jp"]) { gap: 4px; }
				> a { text-overflow: ellipsis; }
			}
		}
		
		/* タグ一覧 */
		> div.flex-wrap_wrap { margin-bottom: calc(var(--niconico-classic-video-player-offset-height) + 16px); order: 2; }
		.niconico-classic_tag-nicopedia-button { width: 24px; height: 24px; border-radius: 50%; overflow: hidden; cursor: pointer; }
		.niconico-classic_tag-nicopedia-button svg { width: 100%; height: 100%; fill: #FFFFFF; }

		/* プレーヤー下 */
		> section:has(dl) ~ * { width: var(--watch-player-width); order: 3; }
	}

	/* プレーヤー */
	.grid-area_\[player\] {
		.bdr_m:has(video) { border-radius: 0; background: none !important; }
		
		/* コントローラー */
		.max-h_watchController\.height {
			border-radius: 0 0 8px 8px;
		}
		
		/* アクションバー */
		.h_watchActionbar\.height {
			gap: 24px;
		}
	}

	/* サイドバー */
	.grid-area_\[sidebar\] {
		margin-top: calc((var(--niconico-classic-video-sidebar-origin-offset-top) - var(--niconico-classic-video-player-offset-top)) * -1);
	}

	/* 全画面化対策 */
	&:not(:has(.grid-area_\[player\] > .w_\[100dvw\].h_\[100dvh\])) {
		.grid-area_\[player\] {
			width: var(--watch-player-width); top: var(--niconico-classic-video-player-offset-top); left: var(--niconico-classic-video-player-offset-left); position: absolute;
			.rounded_m:has(video) { background: none; }
		}
		
		.grid-area_\[sidebar\] {
			div[data-nvpc-scope="watch-floating-panel"] {
				top: 0 !important; left: 0 !important; position: relative !important;
				section { width: 100%; max-height: var(--watch-player-height) !important; position: absolute; z-index: 9999; }
			}
		}
	}

	/* プレーヤーサイズ変更 */
	&.niconico-classic_video-player-size-is-fixed {
		&.niconico-classic_video-player-width-is-1920px { --niconico-classic-video-player-width: 1920px; }
		&.niconico-classic_video-player-width-is-1600px { --niconico-classic-video-player-width: 1600px; }
		&.niconico-classic_video-player-width-is-1280px { --niconico-classic-video-player-width: 1280px; }
		&.niconico-classic_video-player-width-is-960px { --niconico-classic-video-player-width: 960px; }
		&.niconico-classic_video-player-width-is-854px { --niconico-classic-video-player-width: 854px; }
		&.niconico-classic_video-player-width-is-728px { --niconico-classic-video-player-width: 728px; }

		&.niconico-classic_video-player-width-is-flexible {
			--niconico-classic-video-player-width: 728px;
			@media (width >= 1394px) and (height >= 720px) { --niconico-classic-video-player-width: 854px; }
			@media (width >= 1499px) and (height >= 780px) { --niconico-classic-video-player-width: 960px; }
			@media (width >= 1820px) and (height >= 960px) { --niconico-classic-video-player-width: 1280px; }
			@media (width >= 2140px) and (height >= 1140px) { --niconico-classic-video-player-width: 1600px; }
			@media (width >= 2460px) and (height >= 1320px) { --niconico-classic-video-player-width: 1920px; }
			/* +540px / +240px */
		}

		[aria-label=nicovideo-content] > .d_grid { --watch-player-max-width: var(--niconico-classic-video-player-width) !important; --watch-player-min-width: var(--niconico-classic-video-player-width) !important; }
	}

	/* オーバーレイアイコン非表示化 */
	&.niconico-classic_video-player-overlay-icon-is-hidden {
		.asp_16\:9 .pos_absolute.pointer-events_none.us_none:has(svg):not(:has(button)) { display: none; }
	}
	
	/* コメント増量対応 */
	#allcommentsetting {
		height: var(--watch-player-height) !important; margin-bottom: var(--spacing-x2); border-radius: var(--radii-m); z-index: 1 !important; overflow: hidden;
	}

	/* nico downloader対応 */
	#Dlink {
		button {
			width: auto !important; height: auto !important; padding: 12px 16px; border-radius: var(--radii-m); overflow: hidden; text-align: justify;
			br { display: none; }
			a { margin-left: 8px; }
		}
	}
}

/* アイコン形状変更 */
body.niconico-classic_icon-is-square {
	.bdr_full[data-scope="avatar"] {
		border-radius: var(--radii-m);
		&.ml_-x1_5 { margin-left: 0; }
	}
}