@charset "UTF-8";

/* 動画共通 */
.simplebar-wrapper { container: niconicoClassicVideoSimplebar / inline-size; }

.niconico-classic_video-simplebar-link {
	padding: 12px 16px; border-radius: 4px; display: flex; align-items: center; gap: 4px;
	&:hover { background: #F2F2F2; }
	svg { height: 24px !important; fill: #1A1A1A; }
}

main > nav:has(+ [aria-label="nicovideo-content"]) .niconico-classic_video-simplebar-link,
body[data-niconico-classic="video-watch"] .niconico-classic_video-simplebar-link {
	&:hover { background: var(--colors-layer-surface-medium-em) !important; }
	svg { height: 24px !important; fill: var(--colors-text-on-layer-high-em) !important; }
}

.niconico-classic_common-header-menu-link {
	height: 40px; padding: 0 12px !important; background: #FFFFFF; display: flex; align-items: center; gap: 12px; text-decoration: none;
	&:hover { background: #F5F5F5 !important; }
	span { flex: 1; font-family: sans-serif; font-size: 12px; font-weight: bold; line-height: 1.2; color: #333333; }
	svg { width: 9px !important; height: 9px !important; fill: #999999; }
}

@container niconicoClassicVideoSimplebar (width < 128px) {
	.niconico-classic_video-simplebar-link { padding-inline: 0; flex-direction: column; }
	.niconico-classic_video-simplebar-link > span { display: flex; flex-direction: column; font-size: 10px; text-align: center; }
}

/* 動画検索ページ */
body[data-niconico-classic^="video-search"] {
	[aria-label="nicovideo-content"] { container: niconico-classic_video-search-page-content / inline-size; }
	&.niconico-classic_video-page-align-is-center [aria-label="nicovideo-content"] > div { margin-inline: auto; }
	.grid-area_main .lc_2 { height: auto; display: block; --webkit-line-clamp: none; }

	&.niconico-classic_video-search-classic-style-is-enabled {
		.grid-area_main > .cq-t_inline-size > .d_flex.flex-d_column {
			flex-direction: row; flex-wrap: wrap; column-gap: 16px;
			> * { width: calc((100% - 16px) / 2); }
			:is(.w_thumbnail\.l, .w_thumbnail\.2xl) { width: 192px; min-width: 192px; }
			.fs_l { font-size: 100%; }
		}

		&.niconico-classic_video-thumbnail-size-is-medium {
			@container niconico-classic_video-search-page-content (width >= 1752px) {
				.grid-area_main > .cq-t_inline-size > .d_flex.flex-d_column > * { width: calc((100% - 32px) / 3); }
			}
		}

		&:not(.niconico-classic_video-thumbnail-size-is-medium) .grid-area_main > .cq-t_inline-size > .d_flex.flex-d_column .w_thumbnail\.2xl {
			@container niconico-classic_video-search-page-content (width >= 1440px) { width: 256px; min-width: 256px; }
			@container niconico-classic_video-search-page-content (width >= 1600px) { width: 320px; min-width: 320px; }
		}
	}

	&.niconico-classic_video-thumbnail-size-is-medium {
		.w_thumbnail\.2xl, .max-w_thumbnail\.2xl { width: 192px; min-width: 192px; max-width: 192px; }
		[aria-label="nicovideo-content"] > div { width: 1336px; min-width: 1336px; max-width: 1752px; }
		.grid-area_main > .cq-t_inline-size > .d_grid.grid-tc_repeat\(5\,_1fr\) { grid-template-columns: repeat(4, 192px); }

		@container niconico-classic_video-search-page-content (width >= 1544px) {
			[aria-label="nicovideo-content"] > div { width: 1544px; }
			.grid-area_main > .cq-t_inline-size > .d_grid.grid-tc_repeat\(5\,_1fr\) { grid-template-columns: repeat(5, 192px); }
		}

		@container niconico-classic_video-search-page-content (width >= 1752px) {
			[aria-label="nicovideo-content"] > div { width: 1752px; }
			.grid-area_main > .cq-t_inline-size > .d_grid.grid-tc_repeat\(5\,_1fr\) { grid-template-columns: repeat(6, 192px); }
		}
	}
}

body:is([data-niconico-classic="video-search_series"], [data-niconico-classic="video-search_mylist"]).niconico-classic_video-thumbnail-size-is-medium .w_thumbnail\.2xl { height: 108px; }

/* 動画ランキングページ */
body[data-niconico-classic^="video-ranking"] {
	&.niconico-classic_video-page-align-is-center {
		[aria-label="nicovideo-content"] > section { margin: auto; }
	}

	&.niconico-classic_video-thumbnail-size-is-medium {
		.w_100\% :is([data-anchor-page="ranking_genre"], [data-decoration-video-id]) .asp_16\:9, .w_thumbnail\.l, .min-w_thumbnail\.2xl, .max-w_thumbnail\.2xl { width: 192px; min-width: 0 !important; }
		.d_flex:has(> .w_\[calc\(100\%_-_\{sizes\.x5\}\)\]) { justify-content: center; }
		.w_\[calc\(100\%_-_\{sizes\.x5\}\)\] { width: auto; grid-template-columns: 192px 192px 192px 192px 192px 0px; }
		.grid-tc_repeat\(5\,1fr\) { grid-template-columns: repeat(5, 192px); }
	}
}

/* 動画視聴ページ */
body[data-niconico-classic="video-watch"] {
	/* 動画概要欄の調整 */
	.grid-area_\[bottom\] {
		/* タイトル */
		> .jc_space-between { flex-wrap: wrap; row-gap: 8px; }
		div:has(> h1.fs_xl) { width: calc(100% - var(--watch-owner-information-width) - 24px); }
		
		/* 動画の詳細情報 */
		.grid-template-areas_\[_\"icon_title\"_\"\._data\"_\] {
			align-items: baseline; gap: 4px 8px;
			&:not(:has(:is(a[href*="agreement"], a[href*="achievement"]))) { grid-template-areas: "icon title data"; grid-template-columns: max-content max-content auto; }
			.grid-area_icon { align-self: flex-start; }
			.grid-area_title { line-height: 24px; }
			a[href*="agreement"] { margin: 0; }
			.d_flex:has(> .d_flex > a[href*="achievement"]) { gap: 4px; }
		}

		dl + .d_flex:has(> .grid-template-areas_\[_\"icon_title\"_\"\._data\"_\]) { gap: 16px; }

		.niconico-classic_video-details-additional-link {
			display: flex; gap: 8px; font-weight: bold; line-height: 24px;
			svg { width: 24px; fill: var(--colors-icon-video-description); }
			&.pedia svg { background: var(--colors-icon-video-description); fill: #FFFFFF; border-radius: 50%; }
			span { font-size: var(--font-sizes-s); color: var(--colors-text-on-layer-lower-em); }
			a { color: var(--colors-text-on-layer-accent-azure); }
		}

		/* アクションバー */
		> section > .d_flex > div:has(:is(.bdr_full[src^="https\://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/"], .bdr_full[src^="https\://secure-dcdn.cdn.nimg.jp/comch/channel-icon/"])) {
			align-items: center; gap: 16px;
			
			> .d_flex, > .d_flex > .d_flex {
				padding: 0; flex-direction: row; flex-grow: 0; align-items: center; overflow: hidden; white-space: nowrap;
				.gap_x4 { gap: 16px; }
				> a { text-overflow: ellipsis; line-height: 40px; }
				div:has(> a[href^="https\://ch.nicovideo.jp/channel/"]) { display: flex; flex-direction: column; gap: 4px; }
				.mt_\[-1em\] { margin: 0; }
			}
		}
	}

	/* プレーヤーの調整 */
	.grid-area_\[player\] {
		.bdr_m:has(video) { border-radius: 0; background: none !important; }
		
		/* コントローラー */
		.max-h_watchController\.height {
			border-radius: 0 0 8px 8px;
		}
		
		/* アクションバー */
		.h_watchActionbar\.height {
			gap: 24px;
		}
	}

	/* レイアウト変更 */
	&:not(.niconico-classic_video-watch-page-layout-is-modern) {
		[aria-label="nicovideo-content"] {
 			padding-top: 8px; z-index: 0;
			
			.d_grid.grid-template-areas_\[_\"player_sidebar\"_\"bottom_sidebar\"_\"bottom_sidebar\"_\] {
				grid-template-areas: "bottom bottom" "player sidebar" ". sidebar";
				row-gap: 16px;
				--niconico-classic-video-player-height: calc(var(--watch-player-height) + var(--watch-actionbar-height) + var(--watch-player-actionbar-gap-height));
			}
		}

		/* ヘッダー */
		.grid-area_\[bottom\] {
			/* タイトル */
			> .jc_space-between { row-gap: 16px; }
			div:has(> h1.fs_xl) { width: calc(100% - 464px); }
			h1.fs_xl { font-size: 200%; }
			
			/* 投稿者情報 */ 
			.w_\[var\(--watch-owner-information-width\)\] {
				width: 440px;
				.bdr_full[src^="https\://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/"], .bdr_full[src^="https\://secure-dcdn.cdn.nimg.jp/comch/channel-icon/"] { width: 56px; height: 56px; }
			}
			
			/* タグ一覧 */
			> div.flex-wrap_wrap { margin-bottom: calc(var(--niconico-classic-video-player-offset-height) + 16px); order: 2; }
			.niconico-classic_tag-nicopedia-button { width: 24px; height: 24px; border-radius: 50%; overflow: hidden; cursor: pointer; }
			.niconico-classic_tag-nicopedia-button svg { width: 100%; height: 100%; fill: #FFFFFF; }

			/* プレーヤー下 */
			> section:has(header.h_var\(--watch-collapsible-panel-header-height\)) ~ * { width: var(--watch-player-width); order: 3; }
		}

		/* サイドバー */
		.grid-area_\[sidebar\] {
			margin-top: calc((var(--niconico-classic-video-sidebar-initial-offset-top) - var(--niconico-classic-video-player-offset-top)) * -1);
		}

		/* 全画面化対策 */
		&:not(:has(.grid-area_\[player\] > .w_100\%.h_100\%)) {
			.grid-area_\[player\] {
				width: var(--watch-player-width); top: var(--niconico-classic-video-player-offset-top); left: max(calc(var(--niconico-classic-nicovideo-content-width) / 2 - ((var(--watch-player-width) + var(--watch-sidebar-width) + 24px) / 2)), 24px); position: absolute;
				.rounded_m:has(video) { background: none; }
			}
			
			.grid-area_\[sidebar\] {
				div[data-nvpc-scope="watch-floating-panel"] {
					top: 0 !important; left: 0 !important; position: relative !important;
					section { width: 100%; max-height: var(--watch-player-height) !important; position: absolute; z-index: 9999; }
				}
			}
		}
	}
	
	/* プレーヤー最大サイズ変更 */
	[aria-label="nicovideo-content"] > .d_grid {
		--watch-player-max-width: 1920px !important;
	}

	/* プレーヤーサイズ変更 */
	&.niconico-classic_video-player-size-is-fixed {
		&.niconico-classic_video-player-width-is-1920px { --niconico-classic-video-player-width: 1920px; }
		&.niconico-classic_video-player-width-is-1600px { --niconico-classic-video-player-width: 1600px; }
		&.niconico-classic_video-player-width-is-1280px { --niconico-classic-video-player-width: 1280px; }
		&.niconico-classic_video-player-width-is-960px { --niconico-classic-video-player-width: 960px; }
		&.niconico-classic_video-player-width-is-854px { --niconico-classic-video-player-width: 854px; }
		&.niconico-classic_video-player-width-is-728px { --niconico-classic-video-player-width: 728px; }

		&.niconico-classic_video-player-width-is-flexible {
			--niconico-classic-video-player-width: 728px;
			@media (width >= 1394px) and (height >= 720px) { --niconico-classic-video-player-width: 854px; }
			@media (width >= 1499px) and (height >= 780px) { --niconico-classic-video-player-width: 960px; }
			@media (width >= 1820px) and (height >= 960px) { --niconico-classic-video-player-width: 1280px; }
			@media (width >= 2140px) and (height >= 1140px) { --niconico-classic-video-player-width: 1600px; }
			@media (width >= 2460px) and (height >= 1320px) { --niconico-classic-video-player-width: 1920px; }
			/* +540px / +240px */
		}

		[aria-label=nicovideo-content] > .d_grid { --watch-player-max-width: var(--niconico-classic-video-player-width) !important; --watch-player-min-width: var(--niconico-classic-video-player-width) !important; }
	}

	/* オーバーレイアイコン非表示化 */
	&.niconico-classic_video-player-overlay-icon-is-hidden {
		.asp_16\:9 .pos_absolute.pointer-events_none.us_none:has(svg):not(:has(button)) { display: none; }
	}

	/* 簡単マイリスト */
	#niconico-classic_easy-mylist {
		padding: 16px 16px 48px; border-radius: 8px; background: var(--colors-layer-surface-high-em); position: relative;
		h2 { bottom: 16px; right: 16px; display: flex; gap: 4px; align-items: center; position: absolute; z-index: 1; font-weight: bold; color: var(--colors-text-on-layer-high-em); line-height: 24px; }
		h2 svg { width: 24px; height: 24px; fill: var(--colors-text-on-layer-high-em); }
		button { cursor: pointer; font-weight: bold; color: var(--colors-action-text-on-base); }
	}

	.niconico-classic_easy-mylist-tray-action { 
		padding-right: 36px !important;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBjbGFzcz0id19mb250IGhfZm9udCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTYuMyA5LjNhMSAxIDAgMCAxIDEuNCAwYy40LjQuNCAxLjA1IDAgMS40NmwtNSA1LjE0Yy0uMzguNC0xLjAyLjQtMS40IDBsLTUtNS4xNGMtLjQtLjQtLjQtMS4wNiAwLTEuNDZhMSAxIDAgMCAxIDEuNCAwbDQuMyA0LjQyeiIgZmlsbD0iIzFhMWExYSI+PC9wYXRoPjwvc3ZnPg==");
		background-repeat: no-repeat;
		background-position: calc(100% - 8px) center;
		background-size: 24px 24px;
	}

	&[data-color-scheme="dark"] .niconico-classic_easy-mylist-tray-action { background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBjbGFzcz0id19mb250IGhfZm9udCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTYuMyA5LjNhMSAxIDAgMCAxIDEuNCAwYy40LjQuNCAxLjA1IDAgMS40NmwtNSA1LjE0Yy0uMzguNC0xLjAyLjQtMS40IDBsLTUtNS4xNGMtLjQtLjQtLjQtMS4wNiAwLTEuNDZhMSAxIDAgMCAxIDEuNCAwbDQuMyA0LjQyeiIgZmlsbD0iI2YyZjJmMiI+PC9wYXRoPjwvc3ZnPg=="); }

	@media (prefers-color-scheme: dark) {
		.niconico-classic_easy-mylist-tray-action { background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBjbGFzcz0id19mb250IGhfZm9udCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTYuMyA5LjNhMSAxIDAgMCAxIDEuNCAwYy40LjQuNCAxLjA1IDAgMS40NmwtNSA1LjE0Yy0uMzguNC0xLjAyLjQtMS40IDBsLTUtNS4xNGMtLjQtLjQtLjQtMS4wNiAwLTEuNDZhMSAxIDAgMCAxIDEuNCAwbDQuMyA0LjQyeiIgZmlsbD0iI2YyZjJmMiI+PC9wYXRoPjwvc3ZnPg=="); }
	}

	#niconico-classic_easy-mylist-form {
		height: 32px; border-radius: 20px; background: var(--colors-input-form-background); display: flex;

		select {
			width: 100%;
			padding-left: 16px;
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			flex: 1;
			appearance: none;
			color: var(--colors-action-text-on-base);
		}
		
		option { background: var(--colors-layer-surface-high-em); }
		button { padding-inline: 16px; border-top-right-radius: 20px; border-bottom-right-radius: 20px; background: var(--colors-action-base); }
		button:hover { background: var(--colors-action-base-hover); }
		p { flex: 1; text-align: center; line-height: 32px; }
	}

	#niconico-classic_easy-mylist-menu { margin-top: 8px; display: flex; justify-content: space-between; }
	#niconico-classic_easy-mylist-menu button { height: 32px; padding-inline: 16px; border-radius: 20px; background-color: var(--colors-tab-base); }
	#niconico-classic_easy-mylist-menu button:hover { background-color: var(--colors-tab-base-hover); }

	#niconico-classic_easy-mylist-option-form {
		left: 16px; right: 16px; border-radius: 16px; background: var(--colors-layer-surface-high-em); display: none; position: absolute; z-index: 2; box-shadow: var(--shadows-base);
		&.is-open { display: block; }
		h3 { padding: 16px; line-height: 16px; font-weight: bold; border-bottom: 2px solid var(--colors-border-high-em); }
		> div { padding: 16px; }
		label { margin-bottom: 8px; display: block; font-weight: bold; }
		textarea { width: 100%; height: 128px; min-width: 100%; min-height: 128px; max-width: 100%; padding: 16px; border: 1px solid var(--colors-border-base); border-radius: 8px; display: block; }
	}

	#niconico-classic_easy-mylist-alert {
		top: calc((100% - 32px) / 2);
		left: 50%;
		padding: 8px 16px;
		border-radius: 8px;
		background: var(--colors-layer-surface-high-em);
		box-shadow: var(--shadows-base);
		position: absolute;
		z-index: 3;
		translate: -50% -50%;
		white-space: nowrap;
	}
	
	/* コメント増量対応 */
	#allcommentsetting {
		height: var(--watch-player-height) !important; margin-bottom: var(--spacing-x2); border-radius: var(--radii-m); z-index: 1 !important; overflow: hidden;
	}

	/* nico downloader対応 */
	#Dlink {
		button {
			width: auto !important; height: auto !important; padding: 12px 16px; border-radius: var(--radii-m); overflow: hidden; text-align: justify;
			br { display: none; }
			a { margin-left: 8px; }
		}
	}
}

/* プロフィールアイコンの形状の変更 */
body.niconico-classic_icon-is-square {
	.bdr_full[src^="https\://secure-dcdn.cdn.nimg.jp/nicoaccount/usericon/"], .bdr_full[src^="https\://secure-dcdn.cdn.nimg.jp/comch/channel-icon/"] {
		border-radius: var(--radii-m);
		&.ml_-x1_5 { margin-left: 0; }
	}
}